// background colors variables
// $bg-color: #f2fff8;
// $bg-color: #efefef;
$bg-color: #fbfbfb;
$bg-color-secondary: #eaf2ff;
$bg-color-light: #ffffff;

//accent color variables
$accent-color: #f0f0fe;

// text colors variables
$text-color: rgba(0, 0, 0, 0.6);
$text-hover-color: rgba(0, 0, 0, 0.8);
$link-color: #8973f2;

// shadow variables
$filter-color: drop-shadow(0px 10px 11.5px rgba(196, 200, 208, 0.4));
$shodow-sm: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
  rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
// $shodow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

// border-radius
$border-color: #d7d7d7;
$border-hovre-color: #a2a2a2;
$border-radius: 8px;

// button color
$button-color: #8973f2;
$button-hover-color: #6f56ed;
$link-hover-color: #5739ef;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  background: $bg-color;
  font-family: "Ubuntu", sans-serif;
  color: $text-color;
  padding-top: 100px;
}
a {
  text-decoration: none;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus,
.btn:focus,
.btn:active {
  box-shadow: none;
}

input[type="number"],
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.row [class*="col-"] {
  transition: all 0.2s ease;
}

.shodow-sm {
  box-shadow: $shodow-sm !important;
}

.table > :not(caption) > * > * {
  padding: 0.75rem 0.75rem;
}
.table {
  thead {
    svg {
      margin-left: 1rem;
    }
  }
  tbodY {
    tr {
      cursor: pointer;
      &:hover {
        background: $bg-color;
      }
    }
  }
}

.card {
  border-radius: $border-radius;
  box-shadow: $shodow-sm;
  background-color: $bg-color-light;
  overflow: hidden;
  border: none;
  .card-header {
    background-color: transparent;
    border-bottom: none;
    svg {
      font-size: 28px;
      color: $link-color;
    }
  }
  .card-title {
    font-size: 24px;
    color: $text-color;
    font-weight: 700;
    padding: 1rem;
  }
  .card-body {
    padding: 1rem;
  }
}

.form-group {
  margin-bottom: 1rem;
}
.form-control {
  border: 1px solid $border-color;
  padding: 0.5rem;
  background: $bg-color;
  border-radius: $border-radius;
  color: $text-color;
  // border-color: $border-color;

  &:active,
  &:focus {
    background: $bg-color;
    border-color: transparent;
    border-color: $border-hovre-color;
  }
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0.5; /* Firefox */
  }
  &.form-control-sm {
    padding: 0.25rem 0.5rem;
  }
}

a.link {
  text-decoration: none;
  font-size: 16px;
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}
.btn.btn-primary {
  padding: 0.5rem 0.75rem;
  font-weight: bold;
  border-radius: $border-radius;
  background: $button-color;
  border-color: $button-color;
  transition: width ease 0.5s;
  &:hover,
  &:active,
  &:focus {
    border-color: $button-hover-color;
    background: $button-hover-color;
  }
  &.w-spinner {
    width: 100px !important;
  }
  &.dropdown-toggle {
    background: transparent;
    border: none;
    color: $text-color;
    &::after {
      content: none;
    }
    &:focus,
    &:focus,
    &:active {
      outline: none;
      color: $text-hover-color;
      background: transparent;
      box-shadow: none;
    }
  }
  &.btn-sm {
    padding: 0.25rem 0.75rem;
  }
  &.btn-link {
    color: $text-color;
    &:hover {
      color: $text-hover-color;
    }
  }
  &.btn-google {
    color: #ffffff;
    background: #3f7ee8;
    border-color: #3f7ee8;
    &:hover {
      background: #4175cf;
    }
  }
}

.dropdown-menu {
  min-width: 12rem;
  .dropdown-item {
    padding: 0.5rem 1rem;
  }
}

.navbar {
  padding: 1rem;
  background: $bg-color;
  .navbar-brand {
    font-size: 38px;
    letter-spacing: 0px;
    line-height: 22px;
    font-weight: 700;
    color: $link-color;
    &:hover {
      color: $link-color;
    }
  }
  .search-input {
    width: 40%;
    margin-left: auto;
    border: none;
    padding: 0.75rem;
    border-radius: $border-radius;
    box-shadow: $shodow-sm;
    transition: all 0.1s ease;
    background-color: $bg-color-light;

    &.hidden {
      width: 0%;
      padding: 0%;
    }
  }
  .nav-link {
    width: 50px;
    height: 50px;
    border-radius: $border-radius;
    // background-color: $bg-color-light;
    display: flex;
    // box-shadow: $shodow-sm;
    &:hover {
      color: $link-color !important;
    }
    svg {
      width: 18px;
      height: 18px;
      margin: auto;
    }

    &::after {
      content: none;
    }
  }
  .dropdown-menu {
    width: 350px;
    border: none;
    border-radius: $border-radius;
    box-shadow: $shodow-sm;
    right: 0;
    top: 120%;
    padding: 1rem;
    left: initial;
    .dropdown-item {
      padding: 1rem;
      border-radius: $border-radius;
      &:hover {
        background: $accent-color;
        color: $link-color;
      }
    }
  }
}

.sidebar-col {
  position: fixed;
  left: 0;
  max-width: calc(30% - 4rem - 2px);
  &.col-md-1 {
    max-width: calc(8.33% - 10px);
  }
}
.sidebar {
  width: 100%;
  height: 600px;
  border-radius: $border-radius;
  box-shadow: $shodow-sm;
  background-color: $bg-color-light;
  position: relative;
  // transition: width 0.5s cubic-bezier(0, 1, 0, 1);
  &.collapsed {
    .logo {
      justify-content: center;
      .author-name {
        display: none;
      }
    }
    .nav-link {
      transition: font-size 0 linear 0;
      font-size: 0 !important;
      text-align: center;
      svg {
        margin-right: 0 !important;
      }
    }
  }

  .hamburger-btn {
    position: absolute;
    color: $text-color;
    background-color: transparent;
    border-color: transparent;
    font-size: 18px;
    bottom: 5%;
    border-radius: $border-radius;
    right: 0;
    transform: translate(50%, 0);
    background: white;
    box-shadow: $shodow-sm;
    &:hover,
    &:active {
      color: $text-hover-color;
    }
  }

  .sidebar-wrapper {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
  }
  .logo {
    display: flex;
    padding: 1rem;
    justify-content: space-between;

    .logo-img {
      width: 40px;
      height: 40px;
      border-radius: $border-radius;
      overflow: hidden;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .author-name {
      font-size: 18px;
      line-height: 22px;
      color: $text-color;
      font-weight: 700;
      align-self: center;
    }
  }
  .navs {
    display: flex;
    height: 100%;
    align-items: stretch;
  }
  .nav {
    flex-wrap: initial;
    flex-direction: column;
    flex-grow: 0;
    padding: 1rem;
    padding-top: 0;

    hr {
      background: #c4c4c4;
      margin: 0.5rem;
    }
    .nav-link {
      display: flex;
      width: 100%;
      border-radius: $border-radius;
      margin-bottom: 1rem;
      padding: 0.5rem;
      font-size: 16px;
      color: $text-color;
      font-weight: 300;

      &:hover {
        background-color: $accent-color;
        color: $link-color;
      }
      svg {
        font-size: 18px;
        margin: auto;
      }
      &.active {
        background-color: $accent-color;
        color: $link-color;
      }
    }
    &:nth-child(3) {
      h6 {
        padding-left: 1rem;
        margin-bottom: 1rem;
      }
      flex-grow: 1;
      padding: 0;
      .nav-link {
        padding-left: 2rem;
        border-radius: 0%;
        margin-bottom: 0.25rem;
        svg {
          margin: initial;
          margin-right: 0.5rem;
        }
      }
    }
  }
}

.main {
  .card {
    border-radius: $border-radius;
    box-shadow: $shodow-sm;
    background-color: $bg-color-light;
    overflow: hidden;
    border: none;
    height: 100%;
    .card-title {
      font-size: 24px;
      letter-spacing: 1px;
      line-height: 22px;
      color: $text-color;
      font-weight: 700;
      display: flex;
      justify-content: space-between;
      svg {
        font-size: 14px;
      }
    }
  }
}

.media-file-upload {
  .preview {
    width: 128px;
    height: 128px;
    border-radius: $border-radius;
    overflow: hidden;
    position: relative;
    transition: border 0.24s ease-in-out;
    .btn {
      position: absolute;
      width: 100%;
      height: 100%;
      background: #fafafa;
      border: 2px dashed $border-color;
      color: #bdbdbd;
      &.preview-btn {
        opacity: 0;
      }
    }
    img {
      position: absolute;
    }
  }
  &:hover {
    .preview-btn {
      opacity: 1;
    }
  }
}

.dropzone {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: $border-radius;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
  justify-content: center;
}

.dropzone:focus {
  border-color: #2196f3;
}

.dropzone.disabled {
  opacity: 0.6;
}
.media-library {
  .library-list-otr {
    height: 100%;
    overflow-y: scroll;
  }
  .media-filter {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    * {
      flex: 0 0 33%;
    }
  }
  .library-list {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    height: fit-content;
    img {
      cursor: pointer;
      flex: 0 0 64px;
      height: 64px;
      margin: 4px;
      border-radius: $border-radius;
      &.active {
        border: 5px solid $link-color;
      }
    }
  }
}

.modal {
  .modal-content {
    border-radius: $border-radius;
  }
}
